*{
    margin:0;
    padding: 0;
}
body {
    background-color: black;
    color:white;
    text-align: center;
    font-family: sans-serif ;
}

#container{ 
   width:80%;  /* 80% da largura da página*/
   max-width:400px; /*  largura máxima da caixa <div>*/
   margin:100px auto; /* top rigth | bottom left */  
}

h1{
    margin:40px auto 10px auto;     
    opacity: 0.9;
}

p{
    margin-bottom:40px;
    opacity: 0.7;
}

input,button{
    display: block;
    width:100%;
    padding: 20px;
    border-radius: 7px;
    font-size: 20px; 
    box-sizing:border-box;/* inclui padding e border na largura e altura da caixa  */

    /* content-box não inclui padding e border na largura e altura da caixa*/

}

input{
    margin-bottom: 20px;
}

button{
    border:none;
    background-color:orange;
    color: black;
    font-weight: 700;
    transition: filter .5s; /* atrasa a propriedade filter por 0.5s */  
    
}


button:hover{ /* pseudo class ou sudo class ou sudo elements */
    filter: brightness(2.0); /* ao passar ou flutuar mouse sobre o button o mesmo brilha*/
    cursor: alias;
}

#resposta{
    margin-top: 30px;
    transition: opacity 5s; /* o conteúdo do elemento <h3> demora 5s para desaparecer na tela(opacity zero setada no javascript) */
}

#resposta div{
    font-size: 16px;
    font-weight: 500;   
    opacity: 0.8;
    margin-bottom: 10px; ;
}